<!DOCTYPE html>
<html>
  <head>
    <title>Zappa: {{page.title}}</title>
    <link rel="stylesheet" href="https://zappajs.github.io/zappajs/docs/css/highlight.css">
    <link rel="stylesheet" href="https://zappajs.github.io/zappajs/docs/css/default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="logo" style="display: block;"><a href="/zappajs/">zappajs</a></div>
      <nav class="clearfix">
        <a href="/zappajs/">Home</a>
        <a href="/zappajs/docs/reference">API Reference</a>
        <a href="/zappajs/docs/crashcourse">Guide</a>
        <a href="/zappajs/docs/test">Testing</a>
        <!-- Community -->
        <a href="/zappajs/docs/zappa.html">Source: server</a>
        <a href="/zappajs/docs/client.html">Source: client</a>
        <a href="https://github.com/zappajs/zappajs/tree/1.x/examples">Examples</a>
        <a href="https://github.com/zappajs/zappajs">Github</a>
      </nav>
    </div>
    <div id="content">
      <div id="api">
        {{ content }}
      </div>
      <div id="menu" />
    </div>
    <script>
      var table = $('<ul/>');
      $("#api h2").each(function(){
          $('<li><a href="#'+$(this).attr('id')+'">'+$(this).html()+'</a><ul>').appendTo(table);
          $(this).find('h3').each(function(){
            $('<li><a href="#'+$(this).attr('id')+'">'+$(this).html()+'</a></li>').appendTo(table);
          });
          $('</ul></li>').appendTo(table);
      });
      $('#menu').html(table.html());
    </script>
  </body>
</html>
